<!DOCTYPE html>
<html lang="en">

<%- include("../Views/partials/head.ejs")-%>


    <body>
        <%- include("../Views/partials/navbar.ejs")-%>

            <center>404</center>
            <%- include("../Views/partials/footer.ejs")-%>
    </body>

</html>