<!DOCTYPE html>
<html lang="en">
<%- include("../Views/partials/head.ejs")-%>


    <body>
        <%- include("../Views/partials/navbar.ejs")-%>

            <div class="container mt-5">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur neque in iusto ducimus illum. Unde
                tempora iusto obcaecati laborum nesciunt, aliquid dolorum? Fugiat assumenda eligendi dolores cupiditate.
                Magnam, nam rerum?<br /><br /><br />
                Dolorum sapiente suscipit, in debitis itaque laudantium! Consequuntur rerum expedita et praesentium
                minus nisi beatae architecto dolore ea nobis tenetur, incidunt, inventore repudiandae illo ducimus
                repellendus ab est consectetur at.
                Esse, veritatis doloribus eius veniam fugiat corporis sit placeat unde culpa amet molestiae excepturi
                neque repellendus sapiente numquam tempore quas? Repellat laudantium pariatur nihil reiciendis ut ea
                quis et cupiditate.
                Saepe, assumenda accusamus! Cum minima natus, quidem soluta doloribus odio illum quas placeat aut, ex
                consectetur necessitatibus illo, omnis nihil veritatis expedita est labore quo in recusandae nulla
                nesciunt iste.<br /><br />
                Nobis, maiores laboriosam. Magni natus beatae quam assumenda, corporis asperiores. Cupiditate possimus
                necessitatibus fugit eaque, aperiam officiis sint non dicta accusantium eius fuga. Maxime excepturi,
                dolorem in animi veniam ducimus?
                Placeat odio pariatur exercitationem, mollitia rerum, nihil obcaecati odit nam dignissimos, officia
                saepe. Eum id aliquid nostrum cupiditate illum repudiandae cumque velit quo ducimus expedita, ratione,
                eius itaque officiis culpa.
                Perspiciatis error minima nobis, obcaecati vel, doloremque ducimus quos eaque ab quo quam at
                praesentium. Corrupti soluta facere quis dicta sunt? Nihil recusandae eligendi maxime facilis officiis
                maiores magni totam.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur neque in iusto ducimus illum. Unde
                tempora iusto obcaecati laborum nesciunt, aliquid dolorum? Fugiat assumenda eligendi dolores cupiditate.
                Magnam, nam rerum?<br /><br /><br />
                Dolorum sapiente suscipit, in debitis itaque laudantium! Consequuntur rerum expedita et praesentium
                minus nisi beatae architecto dolore ea nobis tenetur, incidunt, inventore repudiandae illo ducimus
                repellendus ab est consectetur at.
                Esse, veritatis doloribus eius veniam fugiat corporis sit placeat unde culpa amet molestiae excepturi
                neque repellendus sapiente numquam tempore quas? Repellat laudantium pariatur nihil reiciendis ut ea
                quis et cupiditate.
                Saepe, assumenda accusamus! Cum minima natus, quidem soluta doloribus odio illum quas placeat aut, ex
                consectetur necessitatibus illo, omnis nihil veritatis expedita est labore quo in recusandae nulla
                nesciunt iste.<br /><br />
                Nobis, maiores laboriosam. Magni natus beatae quam assumenda, corporis asperiores. Cupiditate possimus
                necessitatibus fugit eaque, aperiam officiis sint non dicta accusantium eius fuga. Maxime excepturi,
                dolorem in animi veniam ducimus?
                Placeat odio pariatur exercitationem, mollitia rerum, nihil obcaecati odit nam dignissimos, officia
                saepe. Eum id aliquid nostrum cupiditate illum repudiandae cumque velit quo ducimus expedita, ratione,
                eius itaque officiis culpa.
                Perspiciatis error minima nobis, obcaecati vel, doloremque ducimus quos eaque ab quo quam at
                praesentium. Corrupti soluta facere quis dicta sunt? Nihil recusandae eligendi maxime facilis officiis
                maiores magni totam.
            </div>
            <%- include("../Views/partials/footer.ejs")-%>

    </body>

</html>